<h1>About Bloccit</h1>
<p>Created by: Nate Pauzenga</p>
<div class="social-links">
  <ul>
    <li>
    <%= link_to "Connect", "https://www.linkedin.com/in/natepauzenga",
        class: "social-btn", target: "_blank" %>
    </li>
  </ul>
</div>
